.navbar-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 0;
    padding: 0;
    height: 50pt;
    align-items: center;
    text-align: center;
}

.navbar-container > a {
    text-decoration: none;
    color: black;
    font-size: 12pt;
}

@media(min-width: 1025px){
    .navbar-container > a:hover{
        font-size: 18pt;
        text-decoration: underline;
    }
}