body{
    margin: 0
}

.hero-image{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    background-image: url('https://wallpapercave.com/wp/wp2475885.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.hero-title{
    grid-column-start: 2;
    grid-row-start: 2;
    background: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}